<!DOCTYPE html>
<html>
<head>
    <title>客户资料</title>
    <link rel='stylesheet' href='../stylesheets/customedetail.css' />
    <meta name="viewport" content="inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
</head>
<body>
<div class="photolist">
    <div class="photolist-title">顾客照片</div>
    <div class="photo-body">
        <div class="img-block">
            <img src="../images/date-icon.png" class="img-block-image"/>
        </div>
        <div class="img-block">
            <img src="../images/date-icon.png" class="img-block-image"/>
        </div>
        <div class="img-block">
            <img src="../images/date-icon.png" class="img-block-image"/>
        </div>
        <div class="img-block">
            <img src="../images/date-icon.png" class="img-block-image"/>
        </div>
        <div class="img-block">
            <img src="../images/date-icon.png" class="img-block-image"/>
        </div>
        <div class="img-block" >

            <div onclick="uploadimge()" style="border: 2px dashed #999999;text-align: center;line-height:240px;" class="img-block-image">
                <form style="display: none;" id="uploadForm" enctype="multipart/form-data" method="post" action="XXXXXX">
                    <input type="file" name="imageFile" id="imageFile" accept="image/*;" capture="camera" onchange="fileSelected()" />
                </form>
                <div style="font-size: 80px;">+</div>
            </div>
        </div>

    </div>

</div>

<script type="application/javascript">
    function uploadimge() {
        document.getElementById("imageFile").click();
        //showActionSheet()
    }




     var iMaxFilesize = 2097152; //2M
     window.fileSelected = function() {
         var oFile = document.getElementById('imageFile').files[0];    //读取文件
         var rFilter = /^(image\/bmp|image\/gif|image\/jpeg|image\/png|image\/tiff)$/i;
         if (!rFilter.test(oFile.type)) {
             alert("文件格式必须为图片");
             return;
         }
         if (oFile.size > iMaxFilesize) {
             alert("图片大小不能超过2M");
             return;
         }
         var vFD = new FormData(document.getElementById('uploadForm')),    //建立请求和数据
                 oXHR = new XMLHttpRequest();
         oXHR.addEventListener('load', function(resUpload) {

             console.log(resUpload.data)
             //成功
         }, false);
         oXHR.addEventListener('error', function() {
             //失败
         }, false);
         oXHR.addEventListener('abort', function() {
             //上传中断
         }, false);
         oXHR.open('POST', "https://27478500.qcloud.la/uploadimg/attachment/upload");
         oXHR.send(vFD);
     };
</script>
</body>
</html>